<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:spaceless>
    <f:format.raw>
        <f:format.json value="{
            general: '{f:render(section:\'general\', partial: \'Address\', arguments: \'{_all}\') -> headless:format.json.decode()}',
            address: '{f:render(section:\'address\', partial: \'Address\', arguments: \'{_all}\') -> headless:format.json.decode()}',
            contact: '{f:render(section:\'contact\', partial: \'Address\', arguments: \'{_all}\') -> headless:format.json.decode()}',
            company: '{f:render(section:\'company\', partial: \'Address\', arguments: \'{_all}\') -> headless:format.json.decode()}',
            social: '{f:render(section:\'social\', partial: \'Address\', arguments: \'{_all}\') -> headless:format.json.decode()}'
        }"/>
    </f:format.raw>
</f:spaceless>

</html>
