<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:variable name="first"
            value="{f:uri.action(action:actionName, arguments:{currentPage: 1}, addQueryString:1, absolute: 1)}"/>

<f:variable name="previous">
    <f:if condition="{pagination.previousPageNumber}">
        {f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber}, absolute: 1)}
    </f:if>
</f:variable>

<f:variable name="next">
    <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        {f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber}, addQueryString:1, absolute: 1)}
    </f:if>
</f:variable>

<f:variable name="last"
            value="{f:uri.action(action:actionName, arguments:{currentPage: pagination.lastPageNumber}, addQueryString:1, absolute: 1)}"/>

<f:spaceless>
    <f:format.raw>
        {
        "quicklinks": <f:format.json value="{
            previous: '{previous -> f:spaceless()}',
            first: first,
            next: '{next -> f:spaceless()}',
            last: last
        }"/>,
        "pages": [<f:for each="{pagination.allPageNumbers}" as="page" iteration="iterator">
        <f:format.json value="{
                    pageNumber: page,
                    link: '{f:uri.action(action:actionName, arguments:{currentPage: page}, absolute: 1)}',
                    current: '{f:if(condition: \'{page} == {paginator.currentPageNumber}\', then: 1, else: 0)}'
                }"/>
        {f:if(condition: iterator.isLast, else: ',')}
    </f:for>]
        }
    </f:format.raw>
</f:spaceless>

</html>
